/* heading style
*/
h1 {
font-size: 20px;
color: #006633;
font-weight: bold;
margin-top: 0px;
margin-bottom: 3px;
text-align: center;
}

/* legend style
*/
legend{
	font-weight: bold;
}

/* label style
*/
label{
	font-weight: bold;
	width:350px;
 	display: inline-block;  
} 

/* creating a class to apply to input tags to have rounded corners
*/
.RoundedMargin {
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
}

/* adding style to input list text box based on the id of the text box
*/
#inputList{
  width : 20% !important;
  height : 18px !important;	  
}

/* adding style to number text box based on the id of the text box
*/
#number{
  width : 20% !important;
  height : 18px !important;	
}

/* creating a class to apply style to have customized buttons
*/
.SubmitButton
{
padding: 10px 15px 11px !important;
font-size: 12px !important;
background-color: #57d6c7;
font-weight: bold;
text-shadow: 1px 1px #57D6C7;
color: #ffffff;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border: 1px solid #57D6C7;
cursor: pointer;
text-align : center;
float : left;
}

/* creating a class to apply style to success div tag
*/
.SuccessMessageDiv{
	color: #006622;
	text-align : center;	
}

/* creating a class to apply style to error div tag
*/
.ErrorMessageDiv{
	text-align : center;
	color : red;
}